body{
    font-family: Source san pro, sans-serif;
    width: 100%;
}
header{
    background-image: url(/css_advanced/Images/background.png);
    background-position: top center;
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden; /* Prevent horizontal scrolling */
    background-attachment: scroll;
}
.navbar{
    /* background-color: #333; */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar img{
    width: 150px;
    margin-left: 150px;
}
.navbar ul{
    display: flex;
    gap: 20px;
    margin-right: 200px;
}
.navbar ul li{
    list-style: none;
    margin: 0 20px;
    
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 13px;
}

.navbar ul li a:hover{
    color: #d2aaf3;
}
.part1{
    text-align: center; 
    /* background-color: blueviolet; */
    padding: 1rem;
    margin-top: 200px;
}
.part1 h1{
    color: white;
    font-size: 6rem;
    margin-bottom: 10px;
}
.span-container{
    display: flex;
    justify-content: center;
    gap: 60px;
    color: #ffffff;
    font-size: 1rem;
}
button{
    background-color: #C271FF;
    padding: 10px 20px;
    border-radius: 30px;
    margin: 40px 0;
    cursor: pointer;
}
button:hover{
    background-color: #8e44ad;
}
.part2{
    /* background-color: aqua; */
    text-align: center;
    padding: 20px;
    margin-top: 200px;
}

.part2 h1{
    font-size: 2rem;
    color: #ffffff;
}
.part2 h1 span{
    color: blueviolet;
}
.smile-of-the-year{
    display: flex;
    flex-wrap: wrap;
    margin: 60px 0;
}
.content{
    flex: 1;
    padding: 20px;
    text-align: center;
}
.content h3, p{
    color: #ffffff;
}
.content h3{
    font-size: 1.0rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.testimonials{
    background-color: #c271ff;
    padding: 120px 30px;
}
.testimonials-container{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
    /* border: 5px dotted red; */
}

.testimonials-container > * {
    /* outline: 2px solid lime;  */
    /* flex: 1 1 300px; */
    /* text-align: center; */
    
}
.testimonial-text{
    color: #ffffff;
}
.testimonial-text h3{
    font-size: 1.0rem;
    margin: 20px 0 10px;
    color: #ffffff;
    font-weight: 700;
}
.popular-tutorials{
    background-color: lightseagreen;
    padding: 50px 50px;
    text-align: center;
}
.popular-tutorials h2{
    color: black;
    font-size: 2.0rem;
    margin-bottom: 20px;
}
.popular-tutorials h2 span{
    color: blueviolet;
}
.tutorials-container{
    background-color: palevioletred;
    padding: 20px;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.tutorials{
    background-color: brown;
    padding: 20px;
}
.images{
    position: relative;
}
.second-img{
    position: absolute;
    
}